---
layout: ""
page_title: "Provider: BitLaunch"
description: |-
  The BitLaunch provider provides resources to create and manage BitLaunch.io VMs.
---

# BitLaunch Provider

The BitLaunch provider provides resources to create and manage [BitLaunch.io](https://bitlaunch.io/) VMs,
, which can be paid for using Bitcoin, Etherium, or Litecoin.

If you find this project useful, feel free to buy me a coffee in BTC at `16g88jxnX315CnjTDbfZ9hwuWgeSbRJdMG`

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
